{% extends 'base.html.twig' %}

{% block body %}
<div class="centradito">
    <h1>Crear un nuevo producto</h1>
    <br>
        {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-guardar" type="submit" value="Guardar" />
    {{ form_end(form) }}
</div>
{% endblock %}
